<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css" />
  <link rel="stylesheet" href="/form.css" />
  <link rel="stylesheet" href="/club-form.css" />
  <title><%= title %></title>
</head>

<body>
  <main>
    <nav>
      <span class="logo">ClubHouse Chats</span>
      <a href="/" class="return-home-btn">Back to home</a>
    </nav>
    <article>
      <h1>Join the club</h1>
      <form action="/join-club" method="post">
        <div class="status-label">Select a status</div>
        <label for="member">Member</label>
        <input type="radio" name="status" id="member" value="member" required>
        <label for="admin">Admin</label>
        <input type="radio" name="status" id="admin" value="admin" required>
        <label for="passcode" class="passcode-label">Enter the status' passcode</label>
        <input type="password" name="passcode" id="passcode" required>
        <button type="submit">Join</button>
      </form>
    </article>
  </main>
</body>

</html>