<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css" />
  <link rel="stylesheet" href="/form.css" />
  <link rel="stylesheet" href="/club-form.css" />
  <title><%= appName %></title>
</head>

<body>
  <main>
    <nav>
      <div class="logo"><%= appName %></div>
      <div class="nav-btns-container">
        <%- userStatus ? '<a href="/log-out" class="log-out-btn">Log out</a>' : "" %>
        <a href="/" class="return-home-btn">Back to home</a>
      </div>
    </nav>
    <article>
      <h1>Join the club</h1>
      <% if (locals.error) {%>
      <ul class="error-list">
        <li><%= error %></li>
      </ul>
      <% } %>
      <form action="/join-club" method="post">
        <div class="status-label">Select a status</div>
        <label for="member">Member</label>
        <input type="radio" name="status" id="member" value="member" required>
        <label for="admin">Admin</label>
        <input type="radio" name="status" id="admin" value="admin" required>
        <label for="passcode" class="passcode-label">Enter the status' passcode</label>
        <input type="password" name="passcode" id="passcode" required>
        <button type="submit">Join</button>
      </form>
    </article>
  </main>
</body>

</html>