<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css" />
  <link rel="stylesheet" href="/form.css" />
  <link rel="stylesheet" href="/club-form.css" />
  <title><%= title %></title>
</head>

<body>
  <main>
    <h1>Join the club</h1>
    <form action="/join-club" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
      <div class="status-label">Status</div>
      <label for="member">Member</label>
      <input type="radio" name="status" id="member" value="member" required>
      <label for="admin">Admin</label>
      <input type="radio" name="status" id="admin" value="admin" required>
      <label for="passcode" class="passcode-label">Status passcode</label>
      <input type="password" name="passcode" id="passcode" required>
      <div>
        <button type="submit">Join</button>
        <a href="/" class="return-home-btn">Back to home</a>
      </div>
    </form>
  </main>
</body>

</html>