<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css" />
  <title><%= title %></title>
</head>

<body>
  <main>
    <nav class="auth-btns-container">
      <a href="/log-in" id="log-in-btn">Log in</a>
      <a href="/sign-up" id="sign-up-btn">Sign up</a>
      <a href="/join-club" id="join-club-btn">Join club</a>
      <a href="/new-post" id="new-post-btn">Create post</a>
    </nav>
    <article>
      <div class="post-card">
        <div class="bio">
          <span><strong>Oluwatobi Sofela</strong></span>
          <span>Admin</span>
          <span class="bio__time">Oct 1</span>
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto distinctio mollitia totam odit sunt saepe dolore, architecto accusamus esse ab fugit. Consectetur, at expedita. Aut esse nostrum inventore vero eos.
        </div>
      </div>
      <div class="post-card">
        <div class="bio">
          <span><strong>Oluwatobi Sofela</strong></span>
          <span>Admin</span>
          <span class="bio__time">Oct 1</span>
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto distinctio mollitia totam odit sunt saepe dolore, architecto accusamus esse ab fugit. Consectetur, at expedita. Aut esse nostrum inventore vero eos.
        </div>
      </div>
      <div class="post-card">
        <div class="bio">
          <span><strong>Oluwatobi Sofela</strong></span>
          <span>Admin</span>
          <span class="bio__time">Oct 1</span>
        </div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto distinctio mollitia totam odit sunt saepe dolore, architecto accusamus esse ab fugit. Consectetur, at expedita. Aut esse nostrum inventore vero eos.
        </div>
      </div>
    </article>
  </main>
</body>

</html>