html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

body {
  margin: 0;
  background-color: #17181c;
  color: #fff;
}

main {
  margin: 0 auto;
  width: 43vw;
  min-height: 100vh;
  border-inline: 1px solid rgb(113, 118, 123);
}

nav {
  border-bottom: 1px solid rgb(113, 118, 123);
  padding: 29px 31px;
}

nav a {
  text-decoration: none;
  font-size: 0.97rem;
  font-weight: bold;
  color: #333;
  background-color: #eee;
  margin-bottom: 10px;
  padding: 6px 24px;
  border-radius: 25px;
  border-block: 1px solid #ccc;
  border-inline: 1px solid #333;
}

.post-card {
  border-bottom: 1px solid rgb(113, 118, 123);
  padding: 21px 31px;
  line-height: 20px;
  font-size: 15px;
}

.post-card .bio {
  display: flex;
  gap: 5px;
  margin-bottom: 2px;
}

.post-card .bio__time {
  color: rgb(113, 118, 123);
}
