@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap");

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

body {
  margin: 0;
  background-color: #17181c;
  color: #fff;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  width: 47vw;
  min-height: 100vh;
  border-inline: 1px solid rgb(113, 118, 123);
}

nav {
  position: sticky;
  top: 0;
  padding-block: 13px 33px;
  padding-inline: 31px;
  border-inline: 1px solid rgb(113, 118, 123);
  border-bottom: 1px solid rgb(113, 118, 123);
  background-color: rgba(23, 24, 28, 0.8);
  backdrop-filter: blur(7px);
  text-align: center;
  user-select: none;
}

.registration-pages-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 31px;
}

.logo {
  margin-bottom: 7px;
  font-family: "Edu AU VIC WA NT Dots", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
}

.nav-btns-container {
  display: flex;
  justify-content: center;
  gap: 7px;
}

nav a {
  text-decoration: none;
  font-size: 0.97rem;
  font-weight: bold;
  padding: 6px 24px;
  border-radius: 25px;
}

.log-in-btn,
.log-out-btn,
.join-club-btn {
  border: 1px solid #42bb67;
  color: #42bb67;
}

.sign-up-btn,
.new-post-btn {
  border: 1px solid #42bb67;
  background-color: #42bb67;
  color: #333;
}

.post-card {
  border-bottom: 1px solid rgb(113, 118, 123);
  padding: 21px 31px;
  line-height: 20px;
  font-size: 15px;
}

.post-card__bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 2px;
}

.post-card__delete-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 25px;
  border: 1px solid rgb(113, 118, 123);
  background-color: transparent;
  color: rgb(113, 118, 123);
  cursor: pointer;
}

.post-card__delete-btn:hover {
  border: 1px solid #e25851;
  color: #e25851;
}

.bio__time {
  color: rgb(113, 118, 123);
}
