html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

body {
  margin: 0;
  background-color: #17181c;
  color: #fff;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  width: 47vw;
  min-height: 100vh;
  border-inline: 1px solid rgb(113, 118, 123);
}

nav {
  border-bottom: 1px solid rgb(113, 118, 123);
  padding: 29px 31px;
  text-align: right;
}

nav a {
  text-decoration: none;
  font-size: 0.97rem;
  font-weight: bold;
  padding: 6px 24px;
  border-radius: 25px;
}

.log-in-btn,
.join-club-btn {
  border: 1px solid #42bb67;
  color: #42bb67;
}

.sign-up-btn,
.new-post-btn {
  border: 1px solid #42bb67;
  background-color: #42bb67;
  color: #333;
}

.post-card {
  border-bottom: 1px solid rgb(113, 118, 123);
  padding: 21px 31px;
  line-height: 20px;
  font-size: 15px;
}

.post-card .bio {
  gap: 5px;
  margin-bottom: 2px;
}

.post-card .bio__time {
  color: rgb(113, 118, 123);
}
